body {
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.4)), url('img/ocean-club.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
