body {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('/img/Register Button.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

/*---------------------------------------------*/
/*MAIN*/
/*---------------------------------------------*/
.flexcontainer {
    justify-content: space-around;
}

    .flexcontainer label {
        display: inline-block;
        width: 145px;
        text-align: left;
        color: white;
        font-weight: bold;
        font-size: large;
    }

    .flexcontainer input, .flexcontainer label {
        margin: 5px;
    }


.flexcontainer input,
.flexcontainer select {
    padding: 0.4rem;
    width: 300px;
    border-radius: 5px;
}

.field-validation-error {
    display: block;
    color: red;

}

.input-validation-error {
    background-color: #FFDAD9;
    border: 1px solid red;
}

input[type="submit"] {
    margin: 8% 0 0 0;
    padding: 1rem 2rem;
    background-color: #ffffff;
    border: 1px solid #000000;
    color: #000000;
    font-size: 1.6rem;
    border-radius: .5rem;
    cursor: pointer;
    text-transform: uppercase;
}

button[type="button"] {
    /* margin: 8% 0 0 31%; */
    /*padding: 2rem 5rem;*/
    background-color: #ffffff;
    border: 1px solid #000000;
    color: #000000;
    font-size: 1.6rem;
    border-radius: .5rem;
    cursor: pointer;
    text-transform: uppercase
}
